* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
#slider {
  width: 600px;
  height: 338px;
  border: 5px solid #000;
  margin: 10px auto;
  overflow: hidden;
  #line {
    display: flex;
    position: relative;
    width: 4800px;
    height: 338px;
    left: 0px;
    transition: all ease 1s;

    img {
      display: block;
      width: 600px;
    }
  }
}

#buttons {
  display: flex;
  justify-content: center;
  button {
    position: relative;
    display: inline-block;
    justify-content: center;
    margin: 3px 6px;
    min-height: 30px;
    min-width: 100px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 5px 5px 5px #818181;
    cursor: pointer;
    &:hover {
      top: 2px;
      left: 0px;
      font-size: 14px;
      background-color: #a0a0a0;
      box-shadow: 2px 2px 2px #818181;
      transition: all 0.2s;
    }
    &:active {
      background-color: #575757;
      font-size: 12px;
    }
    &:focus {
      outline: none;
    }
  }
  #left::before {
    content: "<< ";
  }
  #right::after {
    content: " >>";
  }
}
.labels {
  display: flex;
  justify-content: center;
  .navigation {
    display: block;
    margin: 10px 5px;
    width: 30px;
    height: 15px;
    border-radius: 10px;
    background-color: #b4b4b4;
    box-shadow: 2px 2px 2px #7e7e7e;
    &:hover {
      background-color: #444;
    }
  }
}
#bullets {
  display: none;
}
